{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Details</title>
    <link rel="icon" type="image/png" href="{% static 'images/logo.png' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <style>
        h1{
            font-size: 50px;
            text-align: center;
            margin-top: 30px;
            font-weight: bolder;
            font-family: 'Times New Roman', Times, serif;
            margin-bottom: 50px;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-2 col-lg-2"></div>
            <div class="col-xs-8 col-lg-8">
                <h1>User Details</h1>

                <table class="table table-dark" border="2">
                    <tr>
                        <th>User Id</th>
                        <th>Full Name</th>
                        <th>Phone Number</th>
                        <th>Email Id</th>
                        <th>Password</th>
                        <th>Confirm Password</th>
                        <th>Terms And Condition Agreed</th>
                        <th>Add</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>

                    {% for i in user %}

                    <tr>
                        <td>{{i.id}}</td>
                        <td>{{i.fullname}}</td>
                        <td>{{i.phone}}</td>
                        <td>{{i.email}}</td>
                        <td>{{i.password}}</td>
                        <td>{{i.cpassword}}</td>
                        <td>{{i.auth}}</td>
                        <td><a class="btn btn-primary" href="{% url 'signup' %}">Add</a></td>
                        <td><a class="btn btn-success" href="{% url 'update' i.id %}">Update</a></td>
                        <td><a class="btn btn-danger" href="{% url 'delete' i.id %}">Delete</a></td>
                    </tr>

                    {% endfor %}

                </table>
            </div>
            <div class="col-xs-2 col-lg-2"></div>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script> 
</body>
</html>